<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        
        
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
        rel="stylesheet"
        />

        
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('upload_file') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
            <!-- <a href="{{ url_for('upload_file') }}" class="navbar-item">Upload</a> -->
        </div>
        
        <div class="body-content">
            {% block content %}
            {% endblock %}

            <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            {% endwith %} -->
            
            <footer>
                <!-- <p>© 2021</p> -->
            </footer>
        </div>
    </body>
</html>
